body {
  margin: 0;
}

#container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header {
  background: #ccc;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#navigation {
  width: 100%;
  background: #333;
}

#navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: flex;
}

#navigation li a {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background: #383;
}

#content-container {
  width: 100%;
  background: #fff;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 20px 0;
  margin: 0 0 0 4%;
}

#content h2 {
  margin: 0;
}

#aside {
  width: 33%;
  padding: 20px 0;
  margin: 0 3% 0 0;
}

#aside h3 {
  margin: 5px;
}

#footer {
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}

/*? Realize as seguintes tarefas: */

/* Adicione uma media query no arquivo CSS e as regras necessárias para que a página se pareça com a imagem abaixo quando ela for impressa.  */

/** Especificamente: */

/* Exercicio 01 - Para Impressão */

/* Os elementos com id header, navigation e footer devem desaparecer; */
/* O elemento com id aside deve ser mostrado abaixo do conteúdo principal. */

@media print {
  #header,
  #navigation,
  #footer {
    display: none;
  }

  #content {
    width: 100%;
    margin-right: 0px;
    text-align: justify;
  }

  #aside {
    display: flex;
    flex-direction: column;
    page-break-inside: avoid;
  }
}

/*? Realize as seguintes tarefas: */

/*? Adicione uma media query no arquivo CSS e as regras necessárias para que a página se pareça com as imagens abaixo quando a tela for redimensionada para larguras menores.  */

/** Especificamente: */

/* Exercicio 02 - Exibir em dispositivos menores */

/* O elemento com id aside deve desaparecer;*/
/* O elemento body não deve ter padding;*/
/* As imagens não devem exceder a largura da tela;*/
/* Os itens dentro do elemento navigation devem aparecer cada um em sua própria linha;*/
/* O elemento com id header deve ser fixo, de forma que ele fique aparecendo sempre no topo da tela, mesmo após a pessoa usuária rolar a página. */

@media screen and (max-width: 600px) {
  #aside {
    display: none;
  }

  body {
    padding: 0px;
  }

  img {
    max-width: 100%;
  }

  #navigation {
    margin-top: 75px;
  }

  #header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
  }

  #header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
  }

  #content {
    text-align: justify;
  }
}
