html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Base para o exercício */

.container {
  display: flex;
}

p {
  padding: 15px;
}

/** Realize as seguintes tarefas: */

/* Utilizando a abordagem mobile first e media queries, crie três versões de layout diferentes para essa página.
/* Cada layout deve corresponder a um tamanho diferente de página (pequeno, médio e grande).  */

/** Faça pelo menos um commit para cada layout; */

/*? Para fazer isso de forma adequada, você deve prestar atenção no conteúdo da página e pensar em como mostrá-lo em cada um dos tamanhos de tela: */

/* Onde a lista de capítulos deve estar posicionada? */
/* Como a história deve ser mostrada? */
/* Como o cabeçalho deve ser posicionado? */
/* O que fazer com as informações do autor em cada tamanho de tela? */

/* Talvez você precise alterar o HTML um pouco, adicionando elementos para facilitar a estilização, ou talvez mudando um bloco de lugar dentro da página. */

/* Layout 01 - Pequeno */

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(248, 233, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 8px;
  }
  .container {
    flex-direction: column;
  }

  header {
    font-weight: 800;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    padding: 5px 5px;
    line-height: 1.4em;
    text-align: justify;
  }
}

/* Layout 02 - Médio */

@media screen and (min-width: 600px) {
  body {
    background-color: rgb(185, 248, 201);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .container {
    flex-wrap: wrap;
    margin: 16px;
  }

  header {
    font-weight: 800;
  }

  h1, h2, h3 {
    margin: 16px;
  }

  p {
    padding: 5px 16px;
    line-height: 1.4em;
    text-align: justify;
  }
}