/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
article {
}
h1 {
}
h2 {
}
img {
	max-width: 100%;
}
main {
}
section {
}
figure {
	margin: 0;
}
figcaption {
  font-size: .8em;
}

/* * Referencia */

/* ? max-width: 600px: Telas de celular. (Mobile devices) */
/* ? min-width: 600px: iPads, Tablets */
/* ? min-width: 768px: Telas menores, laptops */
/* ? min-width: 992px: Desktops */
/* ? min-width: 1200px — Telas grandes, screens e TV. */

/* Realize as seguintes tarefas: */

/* Exercício 01 */

/* Agora que temos um padrão, vamos criar um breakpoint para telas menores de laptops. Para isso nós podemos consultar nossa tabela acima e utilizar o min-width: 768px e quando tivermos em telas menores que 768px esse estilo não vai ser aplicado. Esse será o primeiro breakpoint do layout. Um breakpoint é apenas um ponto onde estamos definindo que o design atual deve mudar. Ok? */

@media screen and (min-width: 768px) {
  body {
    background-color: rgb(224, 224, 224);
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: rgb(161, 238, 238);
  }
}

/* Exercício 02 - Ajuste o tamanho da fonte; */

body {
  font: 1.2em/1.2 Helvetica, aria, sans-serif;
}
